*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  border: 1px solid black;
  padding:50px;
  border-radius: 10px;
  background-color: rgb(18, 129, 160);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search{
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.card > p{
 color: white;
 font-size: 20px;
}